################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleApp/SampleAspNetApp/.vs/SampleAspNetApp
/SampleApp/SampleAspNetApp/bin/Debug/net7.0
/SampleApp/SampleAspNetApp/obj
/SampleApp/SampleAspNetApp/bin/Release/net7.0
/SampleApp/SampleAspNetApp/.vs/ProjectEvaluation
